<div id="map-canvas"></div>
<img src="statics/images/logo_as.png" class="logo">
<div class="topnav">
	<ul>
		<a href=""><li>Start</li></a>
		<a href=""><li>W pobliżu</li></a>
		<a href=""><li>Szukaj</li></a>
		<a ng-click="addPoiState()"><li>Dodaj POI</li></a>
		<a href=""><li>Augmented Szczecin</li></a>
	</ul>
</div>
<div id="lsmenu" class="menu">
    <form-template></form-template>
</div>
<div id="rsmenu" class="menu">
    <div>
      <label id="poi name">{{singlePoi['name']}}</label><br/>
      <label id="poi description">{{singlePoi['description']}}</label><br/>
      <label id="poi location">{{singlePoi['location']['latitude']}}, {{singlePoi['location']['longitude']}}</label><br/>
   </div>
       <button ng-click="calcRoute(start_route,endRoute)" id="rsbutton">Nawiguj</button>
	</div>
<!-- changing view -->
<div id="toggle">
	<input type="image" src="/statics/images/map.png" onclick="switchMap()">
	<input type="image" src="/statics/images/ar.png" onclick="switchAR()">
</div>

