<html ng-app="AppOne">
<head>
	<title>SuperEkstraMapy</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<!--angularjs and ui-router -->
		<script  src="bower_components/angular/angular.js"></script>
		<script src="bower_components/ui-router/release/angular-ui-router.js"></script>
<!--googlemaps-->
	<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
	<!--clustererapi-->
	<script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js" type="text/javascript"></script>
<!--main script-->
	<script src="src/appone.js"></script>
<!--CSS req by maps -->
	<link rel="stylesheet" href="src/style.css">
<!--That silly thing to ui-router-->
	<base href="/">
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script>

</head>

<body ng-controller="FirstController">

	<div id='map-canvas'></div>
	<button ng-click="chooseRoute(0)">BramaSportowa - Zamek</button>
	<button ng-click="chooseRoute(1)">Wały - Błonia</button>

</body>
</html>
