#map-canvas {
	position: absolute;
    top: 50px;
    left: 0;
    bottom: 0px;
    right: 0px;
}
.form-validation input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.form-validation input.ng-valid.ng-touched {
    background-color: #78FA89;
}

#rsmenu {
	position: absolute;
	top: 50px;
	right: 0;
	bottom: 0;
	width: 250px;
	height: auto;
	float: right;
	background-color: #fff;
	display: none;
	opacity: 0.9;
}

#lsmenu {
	position: absolute;
	top: 50px;
    left: 0;
    bottom: 0px;
	width: 250px;
	height: auto;
	background-color: #fefefe;
	display: none;
	opacity: 0.9;
}
