<div ng-controller="AddPoiController" >
    <form class="form-validation">
        <label for="location">Współrzędne</label><br/>
        <input id="location" type="text" readonly><br/>
        <label for="name">Nazwa</label><br/>
        <input type="text" id="name" ng-model="poi.name" ng-maxlength="50" required><br />
        <label for="description">Opis</label><br/>
        <textarea id="description" ng-model="poi.description" ng-maxlength="500" required></textarea><br />
        <label for="tags">Tagi</label><br/>
        <input type="text" id="tags" ng-model="poi.tags" ng-pattern="/^[a-zA-Z0-9ąćęłńóśżźĄĆĘŁŃÓŚŻŹ\,\ ]{1,30}$/" required> <br/>
        <label>Adres</label><br/>
        <label for="city">Miasto</label><br/>
        <input id="city" type="text" ng-model="poi.address.city" ng-pattern="/^[a-zA-ZąćęłńóśżźĄĆĘŁŃÓŚŻŹ\ ]{1,30}$/" required> <br/>
        <label for="zipcode">Kod pocztowy</label><br/>
        <input id="zipcode" type="text" ng-model="poi.address.zipcode" ng-pattern="/^[0-9]{2}\-[0-9]{3}$/" required> <br/>
        <label for="street">Ulica</label><br/>
        <input type="text" id="street" ng-model="poi.address.street" ng-pattern="/^[a-zA-Z0-9ąćęłńóśżźĄĆĘŁŃÓŚŻŹ\ \.]{1,60}$/" required><br/>
        <label for="streetNumber">Numer budynku</label><br/>
        <input type="text" id="streetNumber" ng-model="poi.address.streetNumber" ng-pattern="/^[a-zA-Z0-9ąćęłńóśżźĄĆĘŁŃÓŚŻŹ]{1,10}$/" required><br/>
        <label for="houseNumber">Nr lokalu</label><br/>
        <input type="text" id="houseNumber" ng-model="poi.address.houseNumber" ng-pattern="/^[a-zA-Z0-9ąćęłńóśżźĄĆĘŁŃÓŚŻŹ]{1,5}$/"><br/>
        <label for="category" >Kategoria</label><br/>
        <select id="category" ng-model="poi.category" required>
            <option value="public">Miejsca publiczne</option>
            <option value="business">Firmy i usługi</option>
            <option value="events">Wydarzenia</option>
            <option value="friends">Znajomi</option>
        </select> <br/>
        <label for="subcategory">Podkategoria</label><br/>
        <select id="subcategory" ng-model="poi.subcategory">
            <option value="school">szkoła</option>
            <option value="hospital">szpital</option>
            <option value="park">park</option>
            <option value="monument">zabytek</option>
            <option value="museum">muzeum</option>
            <option value="office">urząd</option>
            <option value="bus_station">dworzec</option>
            <option value="post_office">poczta</option>
            <option value="church">kościół</option>
        </select> <br/>
        <label for="www">Strona www</label><br/>
        <input type="url" id="www" ng-model="poi.www" ng-maxlength="100"><br/>
        <label for="phone">Telefon</label><br/>
        <input type="tel" id="phone" ng-maxlength="9" ng-model="poi.phone"><br/>
        <label for="wiki">Wikipedia</label><br/>
        <input type="url" id="wiki" ng-model="poi.wiki" ng-maxlength="100"><br/>
        <label for="fanpage">Fanpage</label><br/>
        <input type="url" id="fanpage" ng-model="poi.fanpage" ng-maxlength="100"><br/>
        <label>Dni otwarcia:<br/></label>
        <label><input type="checkbox" ng-model="poi.opening.day.monday">poniedziałek</label><br/>
        <label><input type="checkbox" ng-model="poi.opening.day.tuesday">wtorek</label><br/>
        <label><input type="checkbox" ng-model="poi.opening.day.wednesday">środa</label><br/>
        <label><input type="checkbox" ng-model="poi.opening.day.thursday">czwartek</label><br/>
        <label><input type="checkbox" ng-model="poi.opening.day.friday">piątek</label><br/>
        <label><input type="checkbox" ng-model="poi.opening.day.saturday">sobota</label><br/>
        <label><input type="checkbox" ng-model="poi.opening.day.sunday">niedziela</label><br/>
        <label for="open">Od</label>
        <input type="time" id="open" ng-model="poi.opening.open" placeholder="GG:MM" min="00:00" max="23:59"><br/>
        <label for="close">Do</label>
        <input type="time" id="close" ng-model="poi.opening.close" placeholder="GG:MM" min="00:00" max="23:59"><br/>
        <label for="media">Zdjęcia</label><br/>
        <input type="file" id="media" ng-model="poi.media" >
        <label for="paid">Cena</label>
        <select id="paid" ng-model="poi.paid">
            <option value="true">płatne</option>
            <option value="false">bezpłatne</option>
        </select><br/>
        <label for="owner">Chcę być wyświetlany jako właściciel tego punktu</label>
        <input id="owner" type="checkbox" value="owner" ng-model="poi.owner"><br/>
        <input id="formbutton" type="submit" ng-click="addPoi(poi)" value="Dodaj" />
    </form>
</div>